<div style="margin-bottom:0px; margin-left:auto; margin-right:auto; margin-top:0px; max-width:1000px; width:90%">
	<p><img alt="Coming soon!" src="/userfiles/image/coming-soon-header.png" style="height:auto; max-width:100%; width:100%" /></p>

	<p>&nbsp;</p>

	<h1><img alt="Image description: Exclamation mark in a red cloud - a warning! End description" src="/userfiles/image/cloud-warning.png" style="float:left; height:auto; margin-right:20px; width:60px" /><strong style="color: #ea5b56">We Care About Clean Air:</strong> A new campaign to improve air quality outside of our schools.</h1>

	<p>&nbsp;</p>

	<p><strong>On 4th November a new campaign is launching across Bradford to encourage drivers to switch off their engines whilst waiting outside schools. </strong></p>

	<p>As you may already know, air pollution has been described as the biggest environmental threat to our health &ndash; and car idling is one of the leading causes.</p>

	<p>Leaving the engine on when a car is stationary causes the air to become polluted with fumes. Currently, children have no choice but to walk through these fumes on their way to and from school. This can result in a number of health problems such as asthma and other breathing conditions, especially in young children as their lungs are still developing.</p>

	<p>The <strong>&lsquo;We Care About Clean Air&rsquo;</strong> campaign aims to raise awareness of the dangers of leaving your engine running outside school. Together, by encouraging drivers to make one simple change, we can make a huge difference to the air we all breathe &ndash; and in turn, improve the health and happiness of our children.</p>

	<p>The campaign will include a pack of resources to help support headteachers, teachers and other school staff to educate pupils and drivers on the issue &ndash; all with the aim of encouraging positive change across the school community and improving the air quality outside our schools.</p>

	<p><strong style="color: #ea5b56">Check back on the 4th of November to get your free resource pack!</strong></p>
</div>
