<div style="margin-bottom:0px; margin-left:0; margin-right:auto; margin-top:0px; max-width:1000px; width:90%">
<p><img alt="" src="/userfiles/image/header.png" style="max-width:100%" /></p>

<p>&nbsp;</p>

<h1>The <img alt="" src="/userfiles/image/strapline.png" style="height:32px; padding-bottom: 6px" />&nbsp;campaign has now launched to help tackle air pollution outside Bradford&rsquo;s primary schools.</h1>

<div style="padding-top: 10px">
<p><strong>The campaign aims to encourage drivers to switch off their engines whilst waiting outside schools to help improve the air we all breathe. This is an essential step to ensure the environment outside schools is as clean and safe as possible to keep our children healthy and happy</strong></p>
</div>

<div style="border-bottom:1px solid #ea5b56; border-top:1px solid #ea5b56; padding: 20px 0; margin: 40px 0">
<table>
	<tbody>
		<tr>
			<td style="width: 200px; padding-right: 20px"><img alt="" src="/userfiles/image/car-cloud.png" style="max-width:100%" /></td>
			<td style="min-width: 260px">
			<p><strong style="color:#ea5b56">As you may already know, air pollution has been described as the biggest environmental threat to our health &ndash; and car idling directly contributes towards this.</strong></p>

			<p>Leaving the engine on when a car is stationary causes the air to become polluted with exhaust fumes. Children are particularly vulnerable to the effects of air pollution as their lungs are still developing. Being exposed to air pollution can result in a number of health problems such as asthma and other breathing conditions, as well as heart conditions in later life. School drop off and pick up times can lead to a build up in air pollution due to congestion around the school gates, putting our children at increased risk.</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p>As well as helping to reduce health problems amongst young children, supporting this campaign could also positively impact the atmosphere around your school. It could do this by prompting drivers to park their vehicles elsewhere or choose another cleaner method of transport – therefore reducing congestion during school drop off and pick up times</p>

<div style="margin-bottom: 40px; margin-top: 20px">
<table>
	<tbody>
		<tr>
			<td style="width: 100px; padding-right: 20px; vertical-align: top;"><img alt="" src="/userfiles/image/stickers.png" style="max-width: 100%" /></td>
			<td style="min-width: 260px">
<h2 style="color: #57bcb1; margin-top: 0">What you can do</h2>
			<p>To help support you to raise awareness of the issue across your school community, we have created a digital campaign toolkit. This includes a wide range of simple resources, including classroom activities and written material to educate pupils, parents and other school champions on what they can do to drive positive change across their school community. Schools can get involved as much or as little as you want to. You can also sign up here to receive a free railing banner.</p>
<p>To request a <strong>free We Care About Clean Air campaign toolkit</strong> for your school, just click the button below. </p>

<p><img style="padding-top: 10px" alt="" src="/userfiles/image/button.png" style="max-width: 100%; width: 200px" /></p>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
